/* styles.css */
:root {
  --font-acumin: "acumin-pro", sans-serif;
  --font-acumin-cond: "acumin-pro-condensed", sans-serif;
  --wri-yellow: #f0ab00;
  --wri-black: #000000;
  --wri-brown: #a35424;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-acumin);
  /* color: #4a4a4a;
  background-color: #f8f9fa; */
}

.text-wri-yellow {
  color: var(--wri-yellow);
}
.text-wri-black {
  color: var(--wri-black);
}
.text-wri-brown {
  color: var(--wri-brown);
}
.bg-wri-yellow {
  background-color: var(--wri-yellow);
}
.border-wri-yellow {
  border-color: var(--wri-yellow);
}
.focus-ring-wri-yellow:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--wri-yellow);
}
